name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Fetch API Tests
      id: fetch-api-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Fetch API Tests
        setup-command: npm install
        command: npm test -- -t "Fetch API Tests"
        timeout: 10
        max-score: 1
    - name: Array Functions Tests
      id: array-functions-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Array Functions Tests
        setup-command: npm install
        command: npm test -- -t "Array Functions Tests"
        timeout: 10
        max-score: 1
    - name: DOM Manipulation Tests
      id: dom-manipulation-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: DOM Manipulation Tests
        setup-command: npm install
        command: npm test -- -t "DOM Manipulation Tests"
        timeout: 10
        max-score: 1
    - name: Event Handling Tests
      id: event-handling-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Event Handling Tests
        setup-command: npm install
        command: npm test -- -t "Event Handling Tests"
        timeout: 10
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        FETCH-API-TESTS_RESULTS: "${{steps.fetch-api-tests.outputs.result}}"
        ARRAY-FUNCTIONS-TESTS_RESULTS: "${{steps.array-functions-tests.outputs.result}}"
        DOM-MANIPULATION-TESTS_RESULTS: "${{steps.dom-manipulation-tests.outputs.result}}"
        EVENT-HANDLING-TESTS_RESULTS: "${{steps.event-handling-tests.outputs.result}}"
      with:
        runners: fetch-api-tests,array-functions-tests,dom-manipulation-tests,event-handling-tests
